*{margin:0px; padding:0px; 
  font-family:arial;
}
a{text-decoration: none}



.divPagina{background-color: #F5FBEF; 
          height: 700px;
}

.divPaginaLog{background-color: white; 
          height: 390px;
}

.divCadastroConsumos{
    margin-left: auto; 
    margin-right: auto;
    width:768px;
    height: 550px;
    background-color:white;
}
.divCadastroConsumos form{
    margin-left: 0px;
    margin-right: 0px;
}
.divCadastroConsumos table{
    position: relative;
    
    margin-left: auto; 
    margin-right: auto;
    width: 700px;
    height: 300px;
    background-color: white;
}
.divCadastroConsumos th{
  height: 1px;
  background-color: gainsboro;  
    
}
.divCadastroConsumos input {
    border: 0px;
    width:15px;
    height: 15px;
    font-size: 15px;
}
.divCadastroConsumos select {
    border: 0px;
    text-align: center;
    background-color: whitesmoke;
    width:200px;
    height: 25px;
    font-size: 15px;
}

#divCadastroConsumos{
    border: 0px;
    background-color: whitesmoke;
    width:200px;
    height: 25px;
}


#formularioTexto {
    font-family: arial;
    font-size: 15px;
    width: 200px;
    height: 18px;
    border: none;
    background-color: white;
}
.pagContLog{
    width:400px;
    margin-left: auto; 
    margin-right: auto;
}
.pagContLog table{
 
    width:400px;
    margin-left: auto; 
    margin-right: auto;
}
.pagContLog td{
    padding: 3px;
}
.pagContLog input{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: whitesmoke;
    width:250px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
}

.pagContLog button{
    width:250px;
    height: 35px
     
}
.pagContLog h3{
    color: grey;
    padding: 5px;
    height: 22px;
    width: 70px;
    background-color: white;
}

.pagContLog a{
    font-family: arial;
    font-size: 12px;
    color:gray;
}

.divContSimb{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center
}
.divContSimb h2{
    font-family: arial;
    color: gainsboro;
}

.divContSimb img{
    width: 28z0px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.contCad{
    margin-left: auto; 
    margin-right: auto;
    width:768px;
    height: 500px;
    background-color: #8FBC8F;
    
}
.contCad h2{
    text-align: center;
}

.contCad table{
    width: 768px;
    margin-left: 0px;
    margin-right: 0px;
}

.divPaginaAvaliacao{background-color: #F5FBEF; 
          height: 830px;
}

.divContudo{margin-left: auto; 
           margin-right: auto; 
           width:768px;
           height: 515px;
           background-color: white;
           
}
.divContudo td{background-color:whitesmoke ; width: 50%}

.formCadastro{
    margin-left: auto; 
    margin-right: auto;
    width:768px;
    height: 450px;
    background-color:white;
   
}
.formCadastro form{
    margin-left: 0px;
    margin-right: 0px;
}
.formCadastro table{
    position: relative;
    padding: 30px;
    margin-left: auto; 
    margin-right: auto;
    width: 650px;
    height: 300px;
    background-color: white;
}
.formCadastro th{
  margin-left: 50px;  
  height: 20px;
  width: 200px;
  background-color: gainsboro;  
    
}
.formCadastro td{
    height: 20px;
}
.formCadastro input{
    border: 0px;
    background-color: whitesmoke;
    width:400px;
    height: 30px;
}
#tdRadio{
    background-color: whitesmoke;
    text-align: right;
}
#inputRadio{
    alignment-adjust: central;
    width: 20px;
}

.formCadAn{
    margin-left: auto; 
    margin-right: auto;
    width:768px;
    height: 670px;
    background-color:white;
}
.formCadAn form{
    margin-left: 0px;
    margin-right: 0px;
}
.formCadAn table{
    position: relative;
    
    margin-left: auto; 
    margin-right: auto;
    width: 700px;
    height: 300px;
    background-color: white;
}
.formCadAn th{
  height: 1px;
  background-color: gainsboro;  
    
}
.formCadAn input {
    border: 0px;
    background-color: white;
    width:15px;
    height: 15px;
    font-size: 15px;
}
.formCadAn select {
    border: 0px;
    text-align: center;
    background-color: whitesmoke;
    width:260px;
    height: 25px;
    font-size: 15px;
}

#formCadAn{
    border: 0px;
    background-color: whitesmoke;
    width:270px;
    height: 25px;
}
#pacAn{
    
    text-align: center;
    width:300px;
   
    
}
.formCadAvali{
    margin-left: auto; 
    margin-right: auto;
    width:768px;
    height: 700px;
    background-color:white;
    color: gray;
    
}
.formCadAvali form{
    margin-left: 0px;
    margin-right: 0px;
}
.formCadAvali table{
    font-size: 15px;
    position: relative;
    top: 0px;
    padding: 30px;
    margin-left: auto; 
    margin-right: auto;
    width: 768px;
    text-align: center;
    background-color: white;
    
}
.formCadAvali h5,th{
    text-align: left;
}
.formCadAvali table {
   position: relative;
   height: 500px;
}
.formCadAvali td{
    background-color: whitesmoke;
    height: 20px;
}
.formCadAvali b{
  font-size: 15px;
    
}
.formCadAvali input{
    text-align: center;
    border: 0px;
    background-color: white;
    width:30px;
    height: 20px;
}

    

.formCadAvaliacao{
   
    width: 300px;
    height: 580px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.formCadAvaliacao table{
    width: 765px;
    height: 400px;
    
}
.formCadAvaliacao h5{
   background-color:gainsboro;
   width:100px;
    
}
.formCadAvaliacao input{
   background-color: whitesmoke;
   width:130px;
    
}

.divlinkcadpac{
 
 height: 20px;
}
.divlistpacientes{
    overflow: auto;
    height:400px;
}
.divlistpacientes a{
    color: gray;
    margin-left: 30px;
}
.divlistpacientes table {width: 365px}
.divlistpacientes table td{background-color: white}
.divlistpacientes input{width:270px; height: 20px}

#campoId input{
    width:40px;
}

#botaoButton button{
    margin-left: 0px;
    margin-right: 0px;
}

#campotext{background-color: slategray;}
#campotext input {
    background-color: slategray;
    text-align: center;
    color: green;
    width: 30px;
}
#botaoAtualizar input{width:100px; height: 20px}
#botao{width:60px;
       height: 20px;
       border: 1px}
#tdtitulo {height: 60px; background-color: #8FBC8F}
.tdtitulo{
   
   margin-left: auto; 
   margin-right: auto; 
   width:768px;
   background-color: whitesmoke;
   text-align: center;
}
.tdtitulo h2{
   
    text-align: center;
}
.divPaciente {
    height:400 
}
.divPaciente b,h2{margin-left: 30px}
.divPaciente table{height: 300px}
.divPaciente table td{background-color: white; height: 60px}

.divAnminese{
    background-color: whitesmoke;
}
.divAnminese b,h2{
    margin-left: 30px
}
.divAnminese table{
    margin-left: auto;
    margin-right: auto;
    width: 765px;
    height: 300px
}
.divAnminese table td{
    background-color: white; 
    height: 31px
}

.titAnminese{
    width: 768px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
.titAnminese h2{
    font-family: arial;
    text-align: center;
}

.divConsumos b,h2{margin-left: 30px}
.divConsumos table{height: 300px}
.divConsumos table td{background-color: white; height: 29px}

.divConteudoAvaliUp{
    margin-left: auto; 
    margin-right: auto; 
    width:768px;
    height: 600px;
    background-color: white;
    color: gray;
    overflow: auto;
    
}
.divContudoAvaliacao{
           margin-left: auto; 
           margin-right: auto; 
           width:768px;
           height: 535px;
           background-color: whitesmoke;
           color: gray;
           
}
.divContudoAvaliacao table{
    width: 655px
}


.divContudoAvaliacaotopic{
          
           width:200px;
           height: 510px;
           background-color: whitesmoke;
           color: gray;
          
}
.divContudoAvaliacaotopic table{background-color: whitesmoke; 
                         height: 510px;
                          
                          text-align: center
}
.divContudoAvaliacaotopic h5 {
    background-color:gainsboro;
    width:100px;
    text-align: left;
}
.divContudoAvaliacaotopic td{
    background-color: white;
    height:20px;
}
.divContudoAvaliacaotopic h3{
    height: 20px;
}
.divContudoAvaliacaoCont h3{
    height: 20px;
}
.divContudoAvaliacaoCont{
           margin-left: 100px;
           position: absolute;
           top:1609px;
           width:665px;
           height: 530px;
           background-color: whitesmoke;
           color: gray;
           overflow: auto;
}
.divContudoAvaliacaoCont table{background-color: whitesmoke; 
                          width: 665px;
                          text-align: center
}
.divContudoAvaliacaoCont h5 {
    background-color:gainsboro;
    width:100px;
    text-align: left;
}
.divContudoAvaliacaoCont td{
    background-color: white;
    height: 20px;
}


.divAvaliacaoTab b,h2{margin-left: 30px}
.divAvaliacaoTab table{height: 300px;width:768px}


.divAvaliacao b,h2{margin-left: 30px}
.divAvaliacao table{height: 300px;width:170px}
.divAvaliacao table td,th{background-color: white; 
                      height: 20px; 
                      width: 30px}

.divAvaliacao table h5{
    text-align: left;
    width:110px 
}

.divAvaliacao input{
    border: none;
    text-align: center;
    width: 120px;
    margin-left: 0px;
}

.divAvaliacaoUp b,h2{margin-left: 30px}

.divAvaliacaoUp table{height: 400px;
                     width:400px;
                     margin-left: auto;
                     margin-right: auto;
                     background-color: white;}
.divAvaliacaoUp table td,th{background-color: whitesmoke; 
                      height: 20px; 
                      width: 30px}

.divAvaliacaoUp table h5{
    text-align: left;
    width:110px 
}

.divAvaliacaoUp input{
    border: none;
    text-align: center;
    width: 120px;
    margin-left: 0px;
}


.PacAvaliacao{
    padding-top: 7px;
    margin-left: auto; 
   margin-right: auto; 
   width:768px;
    text-align: center;
    background-color: white;
    height: 40px;
}


.tableEstatistica table{width:767px; height: 10px}
.tableEstatistica table td{width:70px;
text-align: center;
background-color: #E0FFFF}


.divAvaliacao h3{text-align: center}
.divAvaliacao td{text-align: center}
.divAvaliacao h5{text-align: left}

.divTitulo{
    width:768px;
    height: 40px;
    background-color: white;
    margin-left: auto; 
    margin-right: auto;
}
.divTitulo table{
    position: relative;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#itens h5{
     
}
.AvaOver {
   
    width: 450px;
    height: 580px;
    margin-left: 10px;
    overflow: auto;
    
}
.AvaOver table{
   width: 450px;
   height: 390px;
    
}

.AvaOver h5{
   background-color:gainsboro;
    width:100px;
    
}
.AvaOver table td{
    height: 25px;
}

#InputData{
    width: 130px;
}
#botoes{
    width: 120px;
    height: 30px;
}
#data{font-size: 12px}

.menus {
       
       height:50px; 
       background-color:#036;
        }

.menus a{text-decoration: none; padding: 20px; color: #CDAD00;}

.menus a:hover{color:#9ACD32;}
.menus li{padding: 15px;
   margin-left: 270px}
.menus ul{
    list-style-type: none;

}

.menus input,select{
                  
                   margin:5px;
                   padding:0px; font-size:20px; 
                   font-family:arial; height:30px; 
                   border:none; 
                   background-color:#E8E8E8;
}

.titulocont{
    height: 60px;
}
.titulocont input{
    border: none;
    width: 235px;
    height: 25px;
}

.divCalculo{
    
    padding-top: auto;
    background-color: white;
    width: 768px;
    margin-left:auto; 
    margin-right: auto;    
}
.divCalculo table{
    width: 768px;
    background-color: white
}
.divCalculo td{
    background-color: whitesmoke
}
.divCalculo h3{
    text-align: center;
}

.linkAval{
    background-color:white; 
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.divBotaoCad{
    position: relative;
    top: 0px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 365px;
}

.divBotaoCanc{
    position: relative;
    top: -40px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 580px;
}

.divBotaoCanc button{
    margin-left: 0px;
    margin-right: 0px;
}

.divBotaoEx{
     position: relative;
    top: -80px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 780px;
}


.divBotaoCadPac{
    position: relative;
    top: 0px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 170px;
}

.divBotaoCancPac{
    position: relative;
    top: -40px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 320px;
}

.divBotaoCancPac button{
    margin-left: 0px;
    margin-right: 0px;
}

.divBotaoExPac{
     position: relative;
    top: -80px;
    background-color: #E8E8E8;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-left: 470px;
}

.pacTituloAvali{
    text-align: center;
    background-color: whitesmoke;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 30px;
}

.titPaginaAval{
    text-align: center;
    background-color: white;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 40px;
}
.divimg{
  height:200px;
 
  background: url('../imagens/frutas 2.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.divimgLogo{
 background-color: whitesmoke;
  height:250px;
  margin-left: auto;
  margin-right: auto;  
  
}
.divimgLogo img{
  width: 100%;
  height:260px;
  margin-left: auto;
  margin-right: auto;  
  
}
.AvaOverEdit{
    overflow: auto;
    width: 470px;
    height: 550px;
    
}
.AvaOverEdit table{
    margin-left: 0px;
    position: absolute;
    top:0px;
    width: 470px;
    
}
.AvaOverEdit td{
    padding: 1px;
    
    background-color: whitesmoke;
}

.divlogoprint{
    height: 150px;
    width: 768px;
     margin-left: auto;
    margin-right: auto;
}

.divlogoprint img{
    margin-left: auto;
    margin-right: auto;
}

.divContudoAvaliacaoprint{
          
           width:200px;
           height: 510px;
           background-color: whitesmoke;
           color: gray;
          
}
.divContudoAvaliacaoprint table{
    background-color: whitesmoke;
    width: 765px;
   height: 510px;
   text-align: center
}
.divContudoAvaliacaoprint h5{
    background-color:gainsboro;
    width:100px;
    text-align: left;
}
.divContudoAvaliacaoprint td{
    background-color: white;
    height:20px;
}
.divContudoAvaliacaoprint h3{
    height: 20px;
}
.contAvaliacao{
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 600px;
}

.contAvaliacao table{
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 600px;
}


.contBioimp{
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 400px;
}

.contBioimp table{
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 400px;
}

.divconteudoprint{
    background-color: white;
    width: 120px;
    height: 550px;
   
}
.divconteudoprint table{
    height: 550px;
    width: 120px;
    
}

.divconteudoprint td{
    font-size: 14px;
    text-align: left;
    width: 120px;
    height: 20px;
    background-color: #A9A9A9;
    
}
.divconteudoprint b{
	padding:5px;
}

.divconteudoprintBio{
    background-color: white;
    width: 150px;
    height: 400px;
   
}
.divconteudoprintBio table{
    height: 400px;
    width: 150px;
    
}

.divconteudoprintBio td{
    font-size: 14px;
    text-align: left;
    width: 150px;
    height: 20px;
    background-color: #A9A9A9;
    
}
.divconteudoprintBio b{
	padding:5px;
}

.divformcadAv{
	background-color: white;
    width: 210px;
    height: 550px;
}
.divformcadAv table{
	background-color: whitesmoke;
	height: 550px;
    width: 210px;
}
.divformcadAv td{
	font-size: 12px;
    text-align: left;
    width: 90px;
    height: 20px;
    background-color: #A9A9A9;
    
}


.divformcadAv  b{
	padding:5px;
}
.divformcadAv input{
	text-align:center;
	background-color: #A9A9A9;
	border:none;
	width:95px;
	margin-left:auto;
	margin-right:auto;
}
.divprintavaliacao{
    overflow: auto;
    width: 640px;
    height: 550px;
	position:relative
	
	
}

.divprintavaliacao table td{
    font-size: 16px;
    text-align: center;
    width: 50px;
    height: 20px;
    background-color: whitesmoke;
    
}
.divprintavaliacao table{
	margin-right:100%;
	width:50px;
	height:550px;
}



.divprintavaBio{
    overflow: auto;
    width: 640px;
    height: 400px;
	position:relative
	
	
}

.divprintavaBio table td{
    font-size: 16px;
    text-align: center;
    width: 50px;
    height: 20px;
    background-color: whitesmoke;
    
}
.divprintavaBio table{
	margin-right:100%;
	width:50px;
	height:400px;
}
.divcadAvaliaca{
    overflow: auto;
    width: 550px;
    height: 550px;
	position:relative
}
.divcadAvaliaca table{
	width: 550px;
	height:550px;
}
.divcadAvaliaca table td{
	font-size: 12px;
    text-align: center;
    width: 10px;
    height: 20px;
    background-color: whitesmoke;
}

.divupdateavaliacao{
   
    width: 435px;
    height: 540px;
    overflow: auto;
}
.divupdateavaliacao table{
     width: 435px;
     height: 520px;
}
.divupdateavaliacao table td{
     text-align: center;
    width: 50px;
    height: 20px;
    background-color: whitesmoke;
}
.divconteudoprint input{
    text-align: center;
    background-color: gainsboro;
    width: 100px;
}
.titAvaliacao{
    background-color: #E8E8E8;
    width: 768px;
    
    margin-left: auto;
    margin-right: auto;
}
.titAvaliacao h3{
    text-align: center;
}
.divpaginaCadLogin{
    background-color: #F5FBEF; 
    height: 650px;
}
.divCadloginTitulo{
    background-color: whitesmoke;
    width: 768px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;  
}
.divCadloginTitulo h2{
    font-family: arial;
    text-align: center;
}
.divcadLogin{
    width:400px;
    margin-left: auto; 
    margin-right: auto;
    
}
.divcadLogin table{
    width:250px;
    margin-left: auto; 
    margin-right: auto;
}
.divcadLogin td{
    padding: 0px;
}
.divcadLogin input{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: whitesmoke;
    width:250px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
}
.divcadLogin button{
    width:250px;
    height: 35px
}

.divcadLogin h3{
   color: grey;
    height: 22px;
    width: 150px;
    background-color: white; 
}
.divcadLogin a{
    font-family: arial;
    font-size: 12px;
    color: gray;
}
.divcontPag{
    background-color: white;
    width:768px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.divcontPag table{
    width: 760px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.titcadPag{
    background-color: whitesmoke;
    width: 768px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.titcadPag h2{
    text-align: center;
}

.botaoFinalizar{
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.divcontlistapag{
    width: 768px;
    height: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.divcontlistapag table{
    padding: 10px;
    background-color: #FAFAFA;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    height: 180px;
}
.graficoPagina{
    width: 768px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.graficoPagina table{
    height: 400px;
}
.graficoAval{
    width: 750px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.graficoAval table{
    height: 20px;
}
.graficoAval td{
    width:70px;
}
.grafdobras{
    width: 190px;
    height: 250px;
}
.grafdobras table{
    width: 200px;
    height: 250px;
    margin-right: 100%;
}

.grafdobras table td{
    text-align: center;
    width: 100px;
    
}
.grafdobras b{
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
.grafdobras h3{
    text-align: center;
}
.grafCirc{
    width: 190px;
    height: 250px;
}
.grafCirc table{
    width: 200px;
    height: 250px;
    margin-right: 100%;
}
.grafCirc table td{
    text-align: center;
    width: 100px;
    
}
.grafCirc b{
    font-size: 14px;
}

.grafCirc h3{
    text-align: center;
}
.graf-tit{
    text-align: center;
    background-color:gray;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    
}

.graf-print{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-color: greenyellow;
}
.grafPrint-tit{
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#campoMedio{
    text-align: center;
    width: 110px;
}

#campoPequeno{
    text-align: center;
    width: 80px;
}

#bio{
    padding: 8px;
    text-align: center;
}

.contBioAva{
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    
}

.contBioAva table{
    margin-left: auto;
    margin-right: auto;
	width: 150px;
}

.contAvaBio{
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 450px;
}

.contAvaBio table{
	margin-left: auto;
    margin-right: auto;
	width: 768px;
    height: 450px;
}

.divformcadBio{
    background-color: white;
    width: 210px;
    height: 400px;
}
.divformcadBio table{
    background-color: whitesmoke;
    height: 400px;
    width: 300px;
}
.divformcadBio td{
    font-size: 12px;
    text-align: left;
    width: 150px;
    height: 20px;
    background-color: #A9A9A9;
    
}


.divformcadBio  b{
	padding:5px;
}

.divformcadBio input{
	text-align:center;
	background-color: #A9A9A9;
	border:none;
	width:100px;
        height: 30px;
	margin-left:auto;
	margin-right:auto;
}

.divcadBio{
    overflow: auto;
    width: 460px;
    height: 400px;
	position:relative
}
.divcadBio table{
	width: 460px;
	height:400px;
}
.divcadBio table td{
	font-size: 12px;
    text-align: center;
    width: 10px;
    height: 20px;
    background-color: whitesmoke;
}

.divcadBio input{
    background-color: white;
    width: 70px;
    height: 30px;
}

.grafvalor{
    width: 760;
    
}

.grafvalor table{
    width:760px;
    height: 50px;
}

.grafvalor table td{
    font-size: 20px;
    text-align: center;
    width:84px;
    height: 50px;
}

#mmgraf{
    background-color: blue;
}

#gordgraf{
    background-color: red;
}

#residualgraf{
    background-color: yellow;
}

#tit-table{
    height: 50px;
    background-color: gray;
}

#atri{
    background-color: whitesmoke;
    text-align: left;
    padding: 5px;
}