

*{
	margin:0px;
	padding:0px;
}

.responsive-pag{
	position:relative;
	width:480px;
	margin:0 auto;
	height:1050px;
	background-color:#F0FFFF;
}
.responsive-pag-1{}


.conteudo-esquerdo{
    height: 500px;
    text-align: center;
    width: 98%;
    border:solid 2px;
    border-radius:20px;
    border-color:#ADFF2F;
    background-color:#90EE90;
    box-shadow: 10px 10px 10px 1px #4682B4;

}

.conteudo-esquerdo h2{
	color:#4682B4;
	text-align:center;
	font-family: arial;
}
.conteudo-centro{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	height: 620px;
	border:solid 2px;
    border-radius:20px;
	border-color:#ADFF2F;
    background-color:#90EE90; 
	box-shadow: 10px 10px 10px 1px #4682B4;
}

.conteudo-centro h2{
	color:#4682B4;
	text-align:center;
	font-family: arial;
}

.conteudo-direito{
	
	margin-top:20px;
    border-width:5px;
    width:98%;
    height: 500px;
	border:solid 2px;
    border-radius:20px;
	border-color:#ADFF2F;
    background-color:#90EE90; 
	box-shadow: 10px 10px 10px 1px #4682B4;
    
	
}
.conteudo-direito h2{
	color:#4682B4;
	text-align:center;
	font-family: arial;
}
.interno{
	width:100%;
	height:450px;
	border-radius:20px 20px 5px 8px ;
	background-color: #00BFFF;
	
	
}

.interno-camada-2{
	font-family:arial;
	width:100%;
	height:570px;
	border-radius:20px 20px 5px 8px ;
	background-color: #00BFFF;
	
}

.interno-camada-2 table{
	width:75%;
	margin-left:auto;
	margin-right: auto;
}
.interno-camada-2 th{
	font-size:12px;
	background-color:#87CEEB;
	color:#696969;
	border-radius:15px 5px 5px 15px;
}

.interno-camada-2 td{
	margin-top:10px;
	height: 25px;
	font-size:12px;
	background-color:#ADD8E6;	
	border-radius:5px 15px 15px 5px;
}


.interno-camada-2 p{
	margin-top:0px;
	margin-left:8px;
	color:#696969;
}


.interno-centro{
	border:solid 2px;
    border-radius:20px;
	border-color:#ADFF2F;
	position:relative;
	top:1.5%;
	margin-left:40px;
	width:80%;
	height:526px;
	border-radius:20px 20px 10px 10px ;
	background-color: #ADD8E6;
	
}

.interno-centro table{
	width:20px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}

.interno-centro td{
	background-color:#DCDCDC;
	text-align: left;
	height:25px;
	
}

.interno-centro a{
	font-family:arial;
	color:#696969;
	padding:40px;
	text-decoration:none;
	text-align:lef
}

.avaliacaoPaciente{
	width:98%;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:2px;
	background-color:#C0C0C0;
	font-family:arial;
	font-size:14px;
	text-align:center;
	border-radius:15px 15px 0px 0px;
}
.avaliacaoPaciente table{
	margin-top:-18px;
	width:100%;
}

.avaliacaoPaciente th{
	font-size:12px;
	background-color:#87CEEB;
	border-radius:15px 0px 0px 15px;
}
.avaliacaoPaciente td{
	font-size:12px;
	background-color:#ADD8E6;
	border-radius:0px 15px 15px 0px;
}

.avaliacaoPaciente p{
	margin-top:0px;
	margin-left:5px;
}

.conteudo-avaliacao{
	position:absolute;
	top:-14px;
	font-family:arial;
	font-size:11px;
	width:40%;
	margin-left:3px;
	height:538px;
	
	
	
}
.conteudo-avaliacao table{
	height:538px;
	width:100%;
	margin-left:-21px;
	
}
.conteudo-avaliacao th{
	width:100%;
	height:19px;
	margin-left:10px;
	background-color:#C0C0C0;
	color:#696969;
	text-align:left;
	border-radius: 5px 5px 5px 5px;
}
.conteudo-avaliacao p{
	margin-left:8px;
}

.conteudo-avaliacao-1{
	position:relative;
	top:-14px;
	font-family:arial;
	font-size:11px;
	margin-left:30%;
    width:69%;
	height:538px;
	overflow:auto;
	
}
.conteudo-avaliacao-1 table{
        height:538px;
	margin-left:-21px;
}
.conteudo-avaliacao-1 td{
	height:19px;
	width:25px;
	margin-left:10px;
	text-align:center;
	background-color:#DCDCDC;
	border-radius: 5px 5px 5px 5px;
        color:#696969;
	
}

.conteudo-bioimp{
	position:absolute;
	top:10px;
	font-family:arial;
	font-size:14px;
	width:168px;
	margin-left:8px;
	height:500px;
	
}
.conteudo-bioimp table{
	height:500px;
	width:100%;
	margin-left:-21px;
	
}
.conteudo-bioimp th{
	width:100%;
	height:30px;
	margin-left:10px;
	background-color:#C0C0C0;
	color:#696969;
	text-align:left;
	border-radius: 5px 5px 5px 5px;
}
.conteudo-bioimp p{
	margin-left:8px;
}

.conteudo-bioimp-1{
	position:relative;
	top:10px;
	font-family:arial;
	font-size:14px;
	margin-left:160px;
    width:88%;
	height:500px;
	overflow:auto;
	
	
}
.conteudo-bioimp-1 table{
    height: 500px;
    margin-left:-21px;
}
.conteudo-bioimp-1 td{
	height:30px;
	width:25px;
	margin-left:10px;
	
	color:#696969;
	text-align:center;
	background-color:#DCDCDC;
	border-radius: 5px 5px 5px 5px;
	
}

.interno-cont-1{
	border:solid 2px;
        border-radius:20px;
	border-color:#ADFF2F;
	position:absolute;
	top:6%;
	margin-left:40px;
	width:80%;
	height:415px;
	border-radius:20px 20px 10px 10px ;
	background-color: #ADD8E6;
}

.interno-cont-1 table{
	width:80%;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}

.interno-cont-1 td{
	background-color:#DCDCDC;
	text-align: left;
	height:25px;
	
}

.interno-cont-1 a{
	font-family:arial;
	color:#696969;
	margin-left: 10%;
	text-decoration:none;
	text-align:left;
}

.interno-cont-2{
	border:solid 2px;
    border-radius:20px;
	border-color:#ADFF2F;
	position:relative;
	top:7%;
	margin-left:47px;
	width:80%;
	height:415px;
	border-radius:20px 20px 10px 10px ;
	background-color: #ADD8E6;
}

.interno-cont-2 table{
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:100%;
}

.interno-cont-2 th{
	width:60px;
	background-color:#C0C0C0;
	font-family:arial;
	color:#696969;
	padding:8px;
	text-align:left;
	border-radius:10px 0px 0px 10px ;
}

.interno-cont-2 td{
	font-family:arial;
	color:#696969;
	padding:8px;
	background-color:#DCDCDC;
	border-radius:0px 10px 10px 0px ;
}



.intervalo-div{
	width:100%;
	height:110px;
	background-color:green;
	opacity:0.3;
}

#campo-pesquisa input{
	background-color:#ADD8E6;
	padding:5px;
	width:240px;
	height:15px;
}

#campo-pesquisa button{
	padding:3px;
	font-size:13px;
	color:#90EE90;
	font-family:verdana;
	border-radius:2px;
	background-color:#00BFFF;
	border-color:#ADD8E6;
	width:100px;
	height:30px;
}



#menu-interno{
	text-align:center;
}

#menu-interno a{
	color:#2E8B57;
	font-size:10px;
	font-family:verdana;
	padding:1px;
	text-align:center;
	text-decoration:none;
}
